:root {
  --btn-bg-grey: rgba(0, 0, 0, 0.4);
  --btn-bg-dark: #000000;
  --btn-act-white: #ffffff;
  --btn-act-yellow: #f3c653;
  --brdr-btn-white: 2px solid #ffffff;
  --brdr-btn-yel: 1px solid #f3c653;
  --brdr-btn-yel-fat: 2px solid #f3c653;

  --font-logo: 'Film P3', sans-serif;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Times New Roman', serif;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

