<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About our hotel</h2>
    <p class="about-hotel-uppertitle">Amet minim mollit non</p>
    <p class="about-hotel-logo">MIMIHO</p>
    <div class="about-hotel-top">
      <p class="about-hotel-top-desc">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="img about-hotel-top-img"
        srcset="
          ../src/images/homepage/section3/section3_3-pc.jpg        460w,
          ../src/images/homepage/section3/section3_3-pc@2x.jpg     920w,
          ../src/images/homepage/section3/section3_3-tablet.jpg    400w,
          ../src/images/homepage/section3/section3_3-tablet@2x.jpg 800w,
          ../src/images/homepage/section3/section3_3-mob.jpg       244w,
          ../src/images/homepage/section3/section3_3-mob@2x.jpg    488w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 320px) 244px, 100vw"
        src="../src/images/homepage/section3/section3_3-mob.jpg"
        alt="room"
        loading="lazy"
      />
    </div>
    <div class="about-hotel-bottom">
      <p class="about-hotel-bottom-desc">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="img about-hotel-bottom-img"
        srcset="
          ../src/images/homepage/section3/section3_1-pc.jpg        460w,
          ../src/images/homepage/section3/section3_1-pc@2x.jpg     920w,
          ../src/images/homepage/section3/section3_1-tablet.jpg    350w,
          ../src/images/homepage/section3/section3_1-tablet@2x.jpg 700w,
          ../src/images/homepage/section3/section3_1-mob.jpg       200w,
          ../src/images/homepage/section3/section3_1-mob@2x.jpg    400w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, (min-width: 320px) 200px, 100vw"
        src="../src/images/homepage/section3/section3_1-mob.jpg"
        alt="hotel hall"
        loading="lazy"
      />
    </div>
    <!--<div class="about-hotel-slider">
      <img
        class="img about-hotel-slider-img"
        srcset="
          ../src/images/homepage/section3/section3_2-pc.jpg        254w,
          ../src/images/homepage/section3/section3_2-pc@2x.jpg     508w,
          ../src/images/homepage/section3/section3_2-tablet.jpg    194w,
          ../src/images/homepage/section3/section3_2-tablet@2x.jpg 388w,
          ../src/images/homepage/section3/section3_2-mob.jpg       245w,
          ../src/images/homepage/section3/section3_2-mob@2x.jpg    490w
        "
        sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
        src="../src/images/homepage/section3/section3_2-mob.jpg"
        alt="reception"
        loading="lazy"
      />
      <img
        class="img about-hotel-slider-img"
        srcset="
          ../src/images/homepage/section3/section3_4-pc.jpg        254w,
          ../src/images/homepage/section3/section3_4-pc@2x.jpg     508w,
          ../src/images/homepage/section3/section3_4-tablet.jpg    194w,
          ../src/images/homepage/section3/section3_4-tablet@2x.jpg 388w
        "
        sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 100vw"
        src="../src/images/homepage/section3/section3_4-tablet.jpg"
        alt="towel"
        loading="lazy"
      />
    </div>-->

    <!-- Slider main container -->
    <div class="swiper about-hotel-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/homepage/section3/section3_2-pc.jpg        254w,
              ../src/images/homepage/section3/section3_2-pc@2x.jpg     508w,
              ../src/images/homepage/section3/section3_2-tablet.jpg    194w,
              ../src/images/homepage/section3/section3_2-tablet@2x.jpg 388w,
              ../src/images/homepage/section3/section3_2-mob.jpg       245w,
              ../src/images/homepage/section3/section3_2-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/homepage/section3/section3_2-mob.jpg "
            alt="reception"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/homepage/section3/section3_4-pc.jpg        254w,
              ../src/images/homepage/section3/section3_4-pc@2x.jpg     508w,
              ../src/images/homepage/section3/section3_4-tablet.jpg    194w,
              ../src/images/homepage/section3/section3_4-tablet@2x.jpg 388w,
              ../src/images/slider/slider5-mob.jpg                     245w,
              ../src/images/slider/slider5-mob@2x.jpg                  490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider5-mob.jpg"
            alt="towel"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider10-pc.jpg        254w,
              ../src/images/slider/slider10-pc@2x.jpg     508w,
              ../src/images/slider/slider10-tablet.jpg    194w,
              ../src/images/slider/slider10-tablet@2x.jpg 388w,
              ../src/images/slider/slider10-mob.jpg       245w,
              ../src/images/slider/slider10-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider10-mob.jpg"
            alt="spa"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider7-pc.jpg        254w,
              ../src/images/slider/slider7-pc@2x.jpg     508w,
              ../src/images/slider/slider7-tablet.jpg    194w,
              ../src/images/slider/slider7-tablet@2x.jpg 388w,
              ../src/images/slider/slider7-mob.jpg       245w,
              ../src/images/slider/slider7-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider7-mob.jpg"
            alt="restaurant"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider11-pc.jpg        254w,
              ../src/images/slider/slider11-pc@2x.jpg     508w,
              ../src/images/slider/slider11-tablet.jpg    194w,
              ../src/images/slider/slider11-tablet@2x.jpg 388w,
              ../src/images/slider/slider11-mob.jpg       245w,
              ../src/images/slider/slider11-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider11-mob.jpg"
            alt="lobby"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider15-pc.jpg        254w,
              ../src/images/slider/slider15-pc@2x.jpg     508w,
              ../src/images/slider/slider15-tablet.jpg    194w,
              ../src/images/slider/slider15-tablet@2x.jpg 388w,
              ../src/images/slider/slider15-mob.jpg       245w,
              ../src/images/slider/slider15-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider15-mob.jpg"
            alt="breakfast"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev about-hotel-slider">
      <svg class="swiper-button-prev-icon" width="32px" height="32px">
        <use href="../src/images/svg/sprite.svg#icon-left"></use>
      </svg>
    </div>
    <div class="swiper-button-next about-hotel-slider">
      <svg class="swiper-button-next-icon" width="32px" height="32px">
        <use href="../src/images/svg/sprite.svg#icon-right"></use>
      </svg>
    </div>
  </div>
</section>
