<section class="about-rest">
  <div class="container">
    <h2 class="visually-hidden">About our rest</h2>
    <p class="about-rest-uppertitle">Amet minim mollit non</p>
    <a class="logo link" href="./index.html">MIMIHO</a>
    <div class="about-rest-top">
      <p class="about-rest-top-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="about-rest-top-photo img"
        srcset="
          ./images/homepage/section1/section1_1-pc.jpg        460w,
          ./images/homepage/section1/section1_1-pc@2x.jpg     920w,
          ./images/homepage/section1/section1_1-tablet.jpg    400w,
          ./images/homepage/section1/section1_1-tablet@2x.jpg 800w,
          ./images/homepage/section1/section1_1-mob.jpg       244w,
          ./images/homepage/section1/section1_1-mob@2x.jpg    488w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 320px) 244px, 100vw"
        src="./images/homepage/section1/section1_1-mob.jpg"
        alt="kitchen"
        loading="lazy"
      />
    </div>
    <div class="about-rest-bottom">
      <p class="about-rest-bottom-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="about-rest-bottom-photo img"
        srcset="
          ./images/homepage/section1/section1_4-pc.jpg        460w,
          ./images/homepage/section1/section1_4-pc@2x.jpg     920w,
          ./images/homepage/section1/section1_4-tablet.jpg    350w,
          ./images/homepage/section1/section1_4-tablet@2x.jpg 700w,
          ./images/homepage/section1/section1_4-mob.jpg       200w,
          ./images/homepage/section1/section1_4-mob@2x.jpg    400w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, (min-width: 320px) 200px, 100vw"
        src="./images/homepage/section1/section1_4-mob.jpg"
        alt="room"
        loading="lazy"
      />
    </div>
    <!-- <div class="about-rest-slider">
      <img
        class="about-rest-slider-photo img"
        srcset="
          ./images/homepage/section1/section1_2-pc.jpg        254w,
          ./images/homepage/section1/section1_2-pc@2x.jpg     508w,
          ./images/homepage/section1/section1_2-tablet.jpg    194w,
          ./images/homepage/section1/section1_2-tablet@2x.jpg 388w,
          ./images/homepage/section1/section1_2-mob.jpg       245w,
          ./images/homepage/section1/section1_2-mob@2x.jpg    490w
        "
        sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
        src="./images/homepage/section1/section1_2-mob.jpg"
        alt="table"
        loading="lazy"
      />

      <img
        class="about-rest-slider-photo img"
        srcset="
          ./images/homepage/section1/section1_3-pc.jpg        254w,
          ./images/homepage/section1/section1_3-pc@2x.jpg     508w,
          ./images/homepage/section1/section1_3-tablet.jpg    194w,
          ./images/homepage/section1/section1_3-tablet@2x.jpg 388w,
          ../src/images/slider/slider5-mob.jpg                245w,
          ../src/images/slider/slider5-mob@2x.jpg             490w
        "
        sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
        src="./images/homepage/section1/section1_3-tablet.jpg"
        alt="tables"
        loading="lazy"
      />
    </div>
    <div class="arrows">
      <svg class="about-rest-svg-left" width="29.91px" height="16.83px">
        <use href="./images/svg/sprite.svg#icon-left"></use>
      </svg>
      <svg class="about-rest-svg-right" width="29.91px" height="16.83px">
        <use href="./images/svg/sprite.svg#icon-right"></use>
      </svg>
    </div>-->

    <!-- Slider main container -->
    <div class="swiper about-rest-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="about-rest-slider-photo img"
            srcset="
              ./images/homepage/section1/section1_2-pc.jpg        254w,
              ./images/homepage/section1/section1_2-pc@2x.jpg     508w,
              ./images/homepage/section1/section1_2-tablet.jpg    194w,
              ./images/homepage/section1/section1_2-tablet@2x.jpg 388w,
              ./images/homepage/section1/section1_2-mob.jpg       245w,
              ./images/homepage/section1/section1_2-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="./images/homepage/section1/section1_2-mob.jpg"
            alt="table"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="about-rest-slider-photo img"
            srcset="
              ./images/homepage/section1/section1_3-pc.jpg        254w,
              ./images/homepage/section1/section1_3-pc@2x.jpg     508w,
              ./images/homepage/section1/section1_3-tablet.jpg    194w,
              ./images/homepage/section1/section1_3-tablet@2x.jpg 388w,
              ../src/images/slider/slider5-mob.jpg                245w,
              ../src/images/slider/slider5-mob@2x.jpg             490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider5-mob.jpg"
            alt="tables"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider1-pc.jpg        254w,
              ../src/images/slider/slider1-pc@2x.jpg     508w,
              ../src/images/slider/slider1-tablet.jpg    194w,
              ../src/images/slider/slider1-tablet@2x.jpg 388w,
              ../src/images/slider/slider1-mob.jpg       245w,
              ../src/images/slider/slider1-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider1-mob.jpg"
            alt="hall"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider14-pc.jpg        254w,
              ../src/images/slider/slider14-pc@2x.jpg     508w,
              ../src/images/slider/slider14-tablet.jpg    194w,
              ../src/images/slider/slider14-tablet@2x.jpg 388w,
              ../src/images/slider/slider14-mob.jpg       245w,
              ../src/images/slider/slider14-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider14-mob.jpg"
            alt="reception"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider11-pc.jpg        254w,
              ../src/images/slider/slider11-pc@2x.jpg     508w,
              ../src/images/slider/slider11-tablet.jpg    194w,
              ../src/images/slider/slider11-tablet@2x.jpg 388w,
              ../src/images/slider/slider11-mob.jpg       245w,
              ../src/images/slider/slider11-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider11-mob.jpg"
            alt="lobby"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider15-pc.jpg        254w,
              ../src/images/slider/slider15-pc@2x.jpg     508w,
              ../src/images/slider/slider15-tablet.jpg    194w,
              ../src/images/slider/slider15-tablet@2x.jpg 388w,
              ../src/images/slider/slider15-mob.jpg       245w,
              ../src/images/slider/slider15-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider15-mob.jpg"
            alt="breakfast"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev about-rest-slider">
      <svg class="swiper-button-prev-icon" width="32px" height="32px">
        <use href="../src/images/svg/sprite.svg#icon-left"></use>
      </svg>
    </div>
    <div class="swiper-button-next about-rest-slider">
      <svg
        class="swiper-button-next-icon about-rest-slider"
        width="32px"
        height="32px"
      >
        <use href="../src/images/svg/sprite.svg#icon-right"></use>
      </svg>
    </div>
  </div>
</section>
