<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-thumb">
      <p class="contacts-logo">MIMIHO</p>
      <p class="contacts-text">Ресторанно-готельний комплекс</p>
      <ul class="list contacts-list">
        <li class="contacts-list-item contacts-restaurant">
          <p class="contacts-list-item-text contacts-restaurant-phone">
            Ресторан
          </p>
          <div class="contacts-phone-thumb contacts-phone-thumb-top">
            <svg class="contacts-phone-thumb-icon" width="24px" height="24px">
              <use href="../src/images/svg/sprite.svg#icon-phone"></use>
            </svg>
            <a class="link contacts-phone" href="tel:0955559533"
              >095 555 95 33</a
            >
          </div>
        </li>
        <li class="contacts-list-item contacts-hotel">
          <p class="contacts-list-item-text contacts-hotel-phone">Готель</p>
          <div class="contacts-phone-thumb contacts-phone-thumb-bottom">
            <svg class="contacts-phone-thumb-icon" width="24px" height="24px">
              <use href="../src/images/svg/sprite.svg#icon-phone"></use>
            </svg>
            <a class="link contacts-phone" href="tel:0668491089"
              >066 849 10 89</a
            >
            <a class="link contacts-phone" href="tel:0672758540"
              >067 275 85 40</a
            >
          </div>
        </li>
        <li class="contacts-map-link">
          <svg class="contacts-map-link-icon" width="24px" height="24px">
            <use href="../src/images/svg/sprite.svg#icon-map"></use>
          </svg>
          <a
            class="map-link link"
            href="https://goo.gl/maps/JBQVCUT5DkqxG6oq8"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Україна, м. Полтава, вул.&nbsp;Маршала Бірюзова, 15</a
          >
        </li>
      </ul>
    </div>
    <iframe
      class="contacts-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119502!2d34.5243576157008!3d49.599193979366994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0ZfQvdCwLCAzNjAwMA!5e0!3m2!1suk!2sit!4v1674917055826!5m2!1suk!2sit"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      rel="noopener noreferrer nofollow"
    ></iframe>
  </div>
</section>
