<header class="header">
    <div class="container">
        <nav class="header-room-navigation">
            <div class="header-logo">
                <a class="header-list-link logo link" href="./index.html">MIMIHO</a>
            </div>
            <ul class="header-nav-list list">
                <li class="header-list-item headerroom-contact-link">
                    <a class="header-list-link header-contact link" href="./rest.html">Ресторан</a>     
            </li>
            <li class="header-list-item header-contact-border">
                <svg class="headerroom-phone-icon icon-one" width="24" height="24">
                    <use href="./images/svg/sprite.svg#icon-phone"></use>
                </svg>
                <a class="header-list-link link header-phone" href="tel:+380955559533">095 555 95 33</a>
            </li>
                <li class="header-list-item ">
                    <a class="header-list-link header-contact link" href="./hotel.html">Готель</a>   
            </li>
            <li class="header-list-item header-contact-border border-two">
                <svg class="headerroom-phone-icon icon-one icon-two" width="24" height="24">
                    <use href="./images/svg/sprite.svg#icon-phone"></use>
                </svg>
                <a class="header-list-link link header-phone phone-two" href="tel:+380668491089">066 849 10 89</a>
            </li>
            </ul>
        <ul class="header-soc-list list">
            <li class="header-soc-item">
                <a class="header-soc-link link" href="https://www.instagram.com/" target="_blank">
                    <svg class="header-icon" width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a class="header-soc-link link"href="https://uk-ua.facebook.com/" target="_blank">
                    <svg class="header-icon" width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a class="header-soc-link link" href="https://web.telegram.org" target="_blank">
                    <svg class="header-icon" width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="header-adress-info">
            <svg class="header-adress-svg" width="24" height="24">
              <use href="/src/images/svg/sprite.svg#icon-map"></use>
            </svg>
            <a class="header-adress-link link" href="#"
              >Україна, м. Полтава, <br />
              вул. Маршала Бірюзова, 15</a>
          </div>
        </nav>
    </div>
</header>