<section class="hero-room">
  <div class="container hero-box">
    <div class="hero-box-text">
      <h2 class="hero-title">ДВОМІСНИЙ НОМЕР</h2>
      <p class="hero-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="hero-list-all">
      <div class="btn-info">
        <svg class="btn-svg" width="24" height="24">
          <use href="/src/images/svg/sprite.svg#icon-map"></use>
        </svg>
        <a class="btn-link link" href=""
          >Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a
        >
      </div>
      <div class="hero-social">
        <ul class="hero-list list">
          <li>
            <a class="hero-link" href="">
              <svg class="hero-item-svg" width="22" height="22">
                <use href="/src/images/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="hero-link" href="">
              <svg class="hero-item-svg" width="22" height="22">
                <use href="/src/images/svg/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="hero-link" href="">
              <svg class="hero-item-svg" width="22" height="22">
                <use href="/src/images/svg/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="btn" type="button" data-modal-open-prices3>
        Переглянути ціни
      </button>
    </div>
    <!-- Slider main container -->
    <div class="swiper heroroom">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="img room-slider-img"
            srcset="
              ../src/images/room/header-pc.jpg        1280w,
              ../src/images/room/header-pc@2x.jpg     2560w,
              ../src/images/room/header-tablet.jpg    1024w,
              ../src/images/room/header-tablet@2x.jpg 2048w,
              ../src/images/room/header-mob.jpg        414w,
              ../src/images/room/header-mob@2x.jpg     828w
            "
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 320px) 414px, 100vw"
            src="../src/images/room/header-mob.jpg "
            alt="reception"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img room-slider-img"
            srcset="
              ../src/images/slider_room/slide_room1-pc.jpg        1280w,
              ../src/images/slider_room/slide_room1-pc@2x.jpg     2560w,
              ../src/images/slider_room/slide_room1-tablet.jpg    1024w,
              ../src/images/slider_room/slide_room1-tablet@2x.jpg 2048w,
              ../src/images/slider_room/slide_room1-mob.jpg        414w,
              ../src/images/slider_room/slide_room1-mob@2x.jpg     828w
            "
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 320px) 414px, 100vw"
            src="../src/images/slider_room/slide_room1-mob.jpg"
            alt="towel"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img room-slider-img"
            srcset="
              ../src/images/slider_room/slide_room2-pc.jpg        1280w,
              ../src/images/slider_room/slide_room2-pc@2x.jpg     2560w,
              ../src/images/slider_room/slide_room2-tablet.jpg    1024w,
              ../src/images/slider_room/slide_room2-tablet@2x.jpg 2048w,
              ../src/images/slider_room/slide_room2-mob.jpg        414w,
              ../src/images/slider_room/slide_room2-mob@2x.jpg     828w
            "
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 320px) 414px, 100vw"
            src="../src/images/slider_room/slide_room2-mob.jpg"
            alt="towel"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev heroroom">
      <svg class="swiper-button-prev-icon" width="40px" height="40px">
        <use href="../src/images/svg/sprite.svg#icon-left"></use>
      </svg>
    </div>
    <div class="swiper-button-next heroroom">
      <svg class="swiper-button-next-icon" width="40px" height="40px">
        <use href="../src/images/svg/sprite.svg#icon-right"></use>
      </svg>
    </div>
  </div>
</section>

<!-----------------------------------Modal-prices ----------------------------------->
<div class="backdrop-prices is-hidden" data-modal-prices3>
  <div class="modal-prices">
    <button type="button" class="close-window-prices" data-modal-close-prices3>
      <svg class="modal-prices-close-icon" width="24px" height="24px">
        <use href="./images/svg/sprite.svg#icon-close-prices"></use>
      </svg>
    </button>
    <form class="modal-prices-form">
      <p class="modal-prices-title">ціни на номер</p>
      <p class="modal-prices-room-name">Двомісний люкс</p>
      <p class="prices-selected-room">Категорія номеру</p>
      <div class="prices-input">
        <div class="prices-left">
          <input
            oninput="price()"
            placeholder="Кількість"
            name="nights-quantity"
            id="nights-quantity-2"
            class="prices-select"
          />
          <label for="nights-quantity-2" class="prices-label"
            >Кількість ночей
          </label>
        </div>
        <div class="prices-right">
          <div class="price-out">
            <p class="price-output" id="outprice2">Ціна</p>
          </div>
          <p class="currency">грн</p>
        </div>
      </div>
      <button type="button" class="modal-prices-button" data-modal-open-1>
        Забронювати&nbsp;номер
      </button>
    </form>
  </div>
</div>
<!-----------------------------------Modal-prices ----------------------------------->
<!-----------------------------------Modal----------------------------------->
<div class="backdrop is-hidden" data-modal-1>
  <div class="modal-amn">
    <button type="button" class="close-window-amn" data-modal-close-1>
      <svg class="close-modal-amn" width="18px" height="18px">
        <use href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <form class="modal-form-amn">
      <b class="modal-title">ЗАБРОНЮВАТИ НОМЕР</b>
      <div class="modal-kind">
        <div class="use-info">
          <label class="mf-label">
            <input
              type="text"
              name="user-name"
              class="mf-input"
              placeholder="Ваше ім’я"
              required
              minlength="3"
              pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
            />
            <span class="mf-desk">На кого забронювати номер?</span>
          </label>

          <label class="mf-label">
            <input
              type="tel"
              name="user-phone"
              class="mf-input"
              placeholder="+38 (___) ___-__-__"
              required
              pattern="[+38] [([0-9]{3})] [0-9]{3}-[0-9]{2}-[0-9]{2}"
              title="+38 (xxx) xxx-xx-xx"
            />
            <span class="mf-desk">Номер телефону</span>
          </label>
        </div>

        <label for="room7" class="mf-label">
          <span class="use-room">
            <select name="room" id="room7" class="mf-input mf-select kind-room">
              <option class="selection" value="3s">Трьохмісний номер</option>
              <option class="selection" value="2s">Двомісний номер</option>
              <option class="selection" value="2l">Двомісний люкс</option>
            </select>

            <span class="mf-desk">Категорія номеру</span>
          </span>
        </label>

        <div class="use-info">
          <label for="arrival7" class="mf-label">
            <input
              type="date"
              id="arrival7"
              name="trip-start"
              class="mf-input mf-select kalendar"
              value="2023-02-01"
              min="2023-01-01"
              max="2023-12-31"
            />
            <span class="mf-desk">Дата заїзду</span>
          </label>
          <label for="departure7" class="mf-label">
            <input
              type="date"
              id="departure7"
              name="trip-start"
              class="mf-input mf-select kalendar"
              value="2023-02-01"
              min="2023-01-01"
              max="2023-12-31"
            />
            <span class="mf-desk">Дата виїзду</span>
          </label>
        </div>
      </div>
      <button type="submit" class="mf-button">ОФОРМИТИ&nbsp;БРОНЮВАННЯ</button>
    </form>
  </div>
</div>
<!-----------------------------------Modal----------------------------------->
