<section class="hotel-roomlux">
  <div class="container">
    <div class="hotel-room-part-one">
      <div class="hotel-about-text-content">
        <p class="hotel-logo-slogan">Amet minim mollit non</p>
        <p class="hotel-about-logo">MIMIHO</p>
        <div class="hotel-about-room-block">
          <h2 class="hotel-room-title">ДВОМІСНИЙ НОМЕР люкс</h2>
          <p class="hotel-about-room-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <img
        class="hotel-about-room-img img"
        srcset="
          ./images/hotel/section/section1_1-mob.jpg       244w,
          ./images/hotel/section/section1_1-tablet.jpg    400w,
          ./images/hotel/section/section1_1-pc.jpg        460w,
          ./images/hotel/section/section1_1-mob@2x.jpg    488w,
          ./images/hotel/section/section1_1-tablet@2x.jpg 800w,
          ./images/hotel/section/section1_1-pc@2x.jpg     920w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 320px) 244px, 100vw"
        src="./images/hotel/section/section1_1-mob.jpg"
        alt="Double luxury room"
        loading="lazy"
      />
    </div>

    <!--<div class="hotel-room-part-two">
      <div class="hotel-about-slider">
        <div class="hotel-about-slider-module">
          <div class="hotel-about-room-slider">
            <img
              class="hotel-about-room-slide img"
              srcset="
                ./images/hotel/section/section1_2-mob.jpg       194w,
                ./images/hotel/section/section1_2-tablet.jpg    194w,
                ./images/hotel/section/section1_2-pc.jpg        254w,
                ./images/hotel/section/section1_2-mob@2x.jpg    388w,
                ./images/hotel/section/section1_2-tablet@2x.jpg 388w,
                ./images/hotel/section/section1_2-pc@2x.jpg     508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
              src="./images/hotel/section/section1_2-mob.jpg"
              alt="Roomlux photo 1"
              loading="lazy"
            />
            <img
              class="hotel-about-room-slide img"
              srcset="
                ./images/hotel/section/section1_3-mob.jpg       194w,
                ./images/hotel/section/section1_3-tablet.jpg    194w,
                ./images/hotel/section/section1_3-pc.jpg        254w,
                ./images/hotel/section/section1_3-mob@2x.jpg    388w,
                ./images/hotel/section/section1_3-tablet@2x.jpg 388w,
                ./images/hotel/section/section1_3-pc@2x.jpg     508w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
              src="./images/hotel/section/section1_3-mob.jpg"
              alt="Roomlux photo 2"
              loading="lazy"
            />
          </div>

          <div class="slider-control">
            <div class="slider-btn-prev">
              <svg class="slider-btn-icon">
                <use href="./images/svg/sprite.svg#icon-left"></use>
              </svg>
            </div>
            <div class="slider-button-next">
              <svg class="slider-btn-icon">
                <use href="./images/svg/sprite.svg#icon-right"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>-->

    <!--<div class="about-hotel-slider">
      <img
        class="img about-hotel-slider-img"
        srcset="
          ../src/images/homepage/section3/section3_2-pc.jpg        254w,
          ../src/images/homepage/section3/section3_2-pc@2x.jpg     508w,
          ../src/images/homepage/section3/section3_2-tablet.jpg    194w,
          ../src/images/homepage/section3/section3_2-tablet@2x.jpg 388w,
          ../src/images/homepage/section3/section3_2-mob.jpg       245w,
          ../src/images/homepage/section3/section3_2-mob@2x.jpg    490w
        "
        sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
        src="../src/images/homepage/section3/section3_2-mob.jpg"
        alt="reception"
        loading="lazy"
      />
      <img
        class="img about-hotel-slider-img"
        srcset="
          ../src/images/homepage/section3/section3_4-pc.jpg        254w,
          ../src/images/homepage/section3/section3_4-pc@2x.jpg     508w,
          ../src/images/homepage/section3/section3_4-tablet.jpg    194w,
          ../src/images/homepage/section3/section3_4-tablet@2x.jpg 388w
        "
        sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 100vw"
        src="../src/images/homepage/section3/section3_4-tablet.jpg"
        alt="towel"
        loading="lazy"
      />
    </div>-->

    <div class="slider-roomlux">
      <!-- Slider main container -->
      <div class="swiper roomlux">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img
              class="img roomlux"
              srcset="
                ../src/images/hotel/section/section1_2-pc.jpg        254w,
                ../src/images/hotel/section/section1_2-pc@2x.jpg     508w,
                ../src/images/hotel/section/section1_2-tablet.jpg    194w,
                ../src/images/hotel/section/section1_2-tablet@2x.jpg 388w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
              src="../src/images/hotel/section/section1_2-mob.jpg "
              alt="reception"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="img roomlux"
              srcset="
                ../src/images/hotel/section/section1_3-pc.jpg        254w,
                ../src/images/hotel/section/section1_3-pc@2x.jpg     508w,
                ../src/images/hotel/section/section1_3-tablet.jpg    194w,
                ../src/images/hotel/section/section1_3-tablet@2x.jpg 388w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
              src="../src/images/hotel/section/section1_3-mob.jpg "
              alt="reception"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="img roomlux"
              srcset="
                ../src/images/slider/slider10-pc.jpg        254w,
                ../src/images/slider/slider10-pc@2x.jpg     508w,
                ../src/images/slider/slider10-tablet.jpg    194w,
                ../src/images/slider/slider10-tablet@2x.jpg 388w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
              src="../src/images/slider/slider10-mob.jpg"
              alt="spa"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="img roomlux"
              srcset="
                ../src/images/slider/slider7-pc.jpg        254w,
                ../src/images/slider/slider7-pc@2x.jpg     508w,
                ../src/images/slider/slider7-tablet.jpg    194w,
                ../src/images/slider/slider7-tablet@2x.jpg 388w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
              src="../src/images/slider/slider7-mob.jpg"
              alt="restaurant"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="img roomlux"
              srcset="
                ../src/images/slider/slider11-pc.jpg        254w,
                ../src/images/slider/slider11-pc@2x.jpg     508w,
                ../src/images/slider/slider11-tablet.jpg    194w,
                ../src/images/slider/slider11-tablet@2x.jpg 388w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
              src="../src/images/slider/slider11-mob.jpg"
              alt="lobby"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="img roomlux"
              srcset="
                ../src/images/slider/slider15-pc.jpg        254w,
                ../src/images/slider/slider15-pc@2x.jpg     508w,
                ../src/images/slider/slider15-tablet.jpg    194w,
                ../src/images/slider/slider15-tablet@2x.jpg 388w
              "
              sizes="(min-width: 1280px) 254px, (min-width: 320px) 194px, 100vw"
              src="../src/images/slider/slider15-mob.jpg"
              alt="breakfast"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev roomlux">
        <svg class="swiper-button-prev-icon" width="32px" height="32px">
          <use href="../src/images/svg/sprite.svg#icon-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next roomlux">
        <svg class="swiper-button-next-icon" width="32px" height="32px">
          <use href="../src/images/svg/sprite.svg#icon-right"></use>
        </svg>
      </div>
      <div class="hotel-about-buttons">
        <ul class="hotel-about-buttons-list list">
          <li class="hotel-about-list-item">
            <a class="hotel-about-link link" href="./room2lux.html"
              >Детальніше</a
            >
          </li>
          <li class="hotel-about-list-item">
            <button
              class="hotel-about-btn"
              type="button"
              data-modal-open-prices
            >
              Переглянути ціни
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-----------------------------------Modal-prices ----------------------------------->
<div class="backdrop-prices is-hidden" data-modal-prices>
  <div class="modal-prices">
    <button type="button" class="close-window-prices" data-modal-close-prices>
      <svg class="modal-prices-close-icon" width="24px" height="24px">
        <use href="./images/svg/sprite.svg#icon-close-prices"></use>
      </svg>
    </button>
    <form class="modal-prices-form">
      <p class="modal-prices-title">ціни на номер</p>
      <p class="modal-prices-room-name">Двомісний люкс</p>
      <p class="prices-selected-room">Категорія номеру</p>
      <div class="prices-input">
        <div class="prices-left">
          <input
            oninput="multiply()"
            placeholder="Кількість"
            name="nights-quantity"
            id="nights-quantity"
            class="prices-select"
          />
          <label for="nights-quantity" class="prices-label"
            >Кількість ночей
          </label>
        </div>
        <div class="prices-right">
          <div class="price-out">
            <p class="price-output" id="outprice">Ціна</p>
          </div>
          <p class="currency">грн</p>
        </div>
      </div>
      <button type="button" class="modal-prices-button" data-modal-open-2>
        Забронювати&nbsp;номер
      </button>
    </form>
  </div>
</div>
<!-----------------------------------Modal-prices ----------------------------------->

<!-----------------------------------Modal-room ----------------------------------->
<div class="backdrop is-hidden" data-modal-2>
  <div class="modal-amn">
    <button type="button" class="close-window-amn" data-modal-close-2>
      <svg class="close-modal-amn" width="18px" height="18px">
        <use href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <form class="modal-form-amn">
      <b class="modal-title">ЗАБРОНЮВАТИ НОМЕР</b>
      <div class="modal-kind">
        <div class="use-info">
          <label class="mf-label">
            <input
              type="text"
              name="user-name"
              class="mf-input"
              placeholder="Ваше ім’я"
              required
              minlength="3"
              pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
            />
            <span class="mf-desk">На кого забронювати номер?</span>
          </label>

          <label class="mf-label">
            <input
              type="tel"
              name="user-phone"
              class="mf-input"
              placeholder="+38 (___) ___-__-__"
              required
              pattern="[+38] [([0-9]{3})] [0-9]{3}-[0-9]{2}-[0-9]{2}"
              title="+38 (xxx) xxx-xx-xx"
            />
            <span class="mf-desk">Номер телефону</span>
          </label>
        </div>

        <label for="room4" class="mf-label">
          <span class="use-room">
            <select name="room" id="room4" class="mf-input mf-select kind-room">
              <option class="selection" value="3s">Трьохмісний номер</option>
              <option class="selection" value="2s">Двомісний номер</option>
              <option class="selection" value="2l">Двомісний люкс</option>
            </select>

            <span class="mf-desk">Категорія номеру</span>
          </span>
        </label>

        <div class="use-info">
          <label for="arrival4" class="mf-label">
            <input
              type="date"
              id="arrival4"
              name="trip-start"
              class="mf-input mf-select kalendar"
              value="2023-02-01"
              min="2023-01-01"
              max="2023-12-31"
            />
            <span class="mf-desk">Дата заїзду</span>
          </label>
          <label for="departure4" class="mf-label">
            <input
              type="date"
              id="departure4"
              name="trip-start"
              class="mf-input mf-select kalendar"
              value="2023-02-01"
              min="2023-01-01"
              max="2023-12-31"
            />
            <span class="mf-desk">Дата виїзду</span>
          </label>
        </div>
      </div>
      <button type="submit" class="mf-button">ОФОРМИТИ&nbsp;БРОНЮВАННЯ</button>
    </form>
  </div>
</div>
<!-----------------------------------Modal-room ----------------------------------->
