<section class="about-kitchen">
  <div class="container">
    <h2 class="visually-hidden">About our rest</h2>
    <p class="about-kitchen-uppertitle">Amet minim mollit non</p>
    <a class="logo link" href="./index.html">MIMIHO</a>
    <div class="about-kitchen-top">
      <p class="about-kitchen-top-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="about-kitchen-top-photo img"
        srcset="
          ./images/restaurant/section1/section1_1-pc.jpg        460w,
          ./images/restaurant/section1/section1_1-pc@2x.jpg     920w,
          ./images/restaurant/section1/section1_1-tablet.jpg    400w,
          ./images/restaurant/section1/section1_1-tablet@2x.jpg 800w,
          ./images/restaurant/section1/section1_1-mob.jpg       244w,
          ./images/restaurant/section1/section1_1-mob@2x.jpg    488w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 320px) 244px, 100vw"
        src="./images/restaurant/section1/section1_1-mob.jpg"
        alt="kitchen"
        loading="lazy"
      />
    </div>
    <div class="about-kitchen-bottom">
      <p class="about-kitchen-bottom-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="about-kitchen-bottom-photo img"
        srcset="
          ./images/restaurant/section1/section1_2-pc.jpg        460w,
          ./images/restaurant/section1/section1_2-pc@2x.jpg     920w,
          ./images/restaurant/section1/section1_2-tablet.jpg    350w,
          ./images/restaurant/section1/section1_2-tablet@2x.jpg 700w,
          ./images/restaurant/section1/section1_2-mob.jpg       200w,
          ./images/restaurant/section1/section1_2-mob@2x.jpg    400w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, (min-width: 320px) 200px, 100vw"
        src="./images/restaurant/section1/section1_2-mob.jpg"
        alt="room"
        loading="lazy"
      />
    </div>
    <!--<div class="about-kitchen-slider">
            <img class="about-kitchen-slider-photo img" 
                srcset="
                ./images/restaurant/section1/section1_3-pc.jpg        254w,
                ./images/restaurant/section1/section1_3-pc@2x.jpg     508w,
                ./images/restaurant/section1/section1_3-tablet.jpg    194w,
                ./images/restaurant/section1/section1_3-tablet@2x.jpg 388w,
                ./images/restaurant/section1/section1_3-mob.jpg       245w,
                ./images/restaurant/section1/section1_3-mob@2x.jpg    490w"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
                src="./images/restaurant/section1/section1_3-mob.jpg"
                alt="table"
                loading="lazy">

            <img class="about-kitchen-slider-photo img" 
                srcset="
                ./images/restaurant/section1/section1_4-pc.jpg        254w,
                ./images/restaurant/section1/section1_4-pc@2x.jpg     508w,
                ./images/restaurant/section1/section1_4-tablet.jpg    194w,
                ./images/restaurant/section1/section1_4-tablet@2x.jpg 388w"
                ../src/images/slider/slider6-mob.jpg                  245w,
                ../src/images/slider/slider6-mob@2x.jpg               490w"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
                src="../src/images/slider/slider6-mob.jpg"
                alt="tables"
                loading="lazy">
        </div>
        <div class="arrows">
            <svg class="about-kitchen-svg-left" width="29.91px" height="16.83px">
                <use href="./images/svg/sprite.svg#icon-left"></use>
            </svg>
            <svg class="about-kitchen-svg-right" width="29.91px" height="16.83px">
                <use href="./images/svg/sprite.svg#icon-right"></use>
            </svg>
        </div>-->

    <!-- Slider main container -->
    <div class="swiper about-kitchen-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="about-kitchen-slider-photo img"
            srcset="
              ./images/restaurant/section1/section1_3-pc.jpg        254w,
              ./images/restaurant/section1/section1_3-pc@2x.jpg     508w,
              ./images/restaurant/section1/section1_3-tablet.jpg    194w,
              ./images/restaurant/section1/section1_3-tablet@2x.jpg 388w,
              ./images/restaurant/section1/section1_3-mob.jpg       245w,
              ./images/restaurant/section1/section1_3-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="./images/restaurant/section1/section1_3-mob.jpg"
            alt="pizza"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="about-kitchen-slider-photo img"
            srcset="
              ./images/restaurant/section1/section1_4-pc.jpg        254w,
              ./images/restaurant/section1/section1_4-pc@2x.jpg     508w,
              ./images/restaurant/section1/section1_4-tablet.jpg    194w,
              ./images/restaurant/section1/section1_4-tablet@2x.jpg 388w,
              ../src/images/slider/slider6-mob.jpg                  245w,
              ../src/images/slider/slider6-mob@2x.jpg               490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider6-mob.jpg"
            alt="Khinkali"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider7-pc.jpg        254w,
              ../src/images/slider/slider7-pc@2x.jpg     508w,
              ../src/images/slider/slider7-tablet.jpg    194w,
              ../src/images/slider/slider7-tablet@2x.jpg 388w,
              ../src/images/slider/slider7-mob.jpg       245w,
              ../src/images/slider/slider7-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider7-mob.jpg"
            alt="hall"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider9-pc.jpg        254w,
              ../src/images/slider/slider9-pc@2x.jpg     508w,
              ../src/images/slider/slider9-tablet.jpg    194w,
              ../src/images/slider/slider9-tablet@2x.jpg 388w,
              ../src/images/slider/slider9-mob.jpg       245w,
              ../src/images/slider/slider9-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider9-mob.jpg"
            alt="breakfast"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider16-pc.jpg        254w,
              ../src/images/slider/slider16-pc@2x.jpg     508w,
              ../src/images/slider/slider16-tablet.jpg    194w,
              ../src/images/slider/slider16-tablet@2x.jpg 388w,
              ../src/images/slider/slider16-mob.jpg       245w,
              ../src/images/slider/slider16-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider16-mob.jpg"
            alt="muesli"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="img about-hotel-slider-img"
            srcset="
              ../src/images/slider/slider15-pc.jpg        254w,
              ../src/images/slider/slider15-pc@2x.jpg     508w,
              ../src/images/slider/slider15-tablet.jpg    194w,
              ../src/images/slider/slider15-tablet@2x.jpg 388w,
              ../src/images/slider/slider15-mob.jpg       245w,
              ../src/images/slider/slider15-mob@2x.jpg    490w
            "
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 320px) 245px, 100vw"
            src="../src/images/slider/slider15-mob.jpg"
            alt="breakfast"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev about-kitchen-slider">
      <svg class="swiper-button-prev-icon" width="32px" height="32px">
        <use href="../src/images/svg/sprite.svg#icon-left"></use>
      </svg>
    </div>
    <div class="swiper-button-next about-kitchen-slider">
      <svg
        class="swiper-button-next-icon about-rest-slider"
        width="32px"
        height="32px"
      >
        <use href="../src/images/svg/sprite.svg#icon-right"></use>
      </svg>
    </div>
  </div>
</section>
