<section id="rest-menu" class="restaurant-menu">
  <div class="container">
    <div class="menu-box">
      <h2 class="menu-main-title">МЕНЮ РЕСТОРАНУ</h2>
      <div class="table-box">
        <div class="hot-dishes">
          <table class="list-of-dishes">
            <caption class="type-of-dish-title">
              Гарячі страви
            </caption>
            <tbody>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Борщ з телятини з квасолею</span
                  >Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </td>
                <td class="weight-of-dish">400 г</td>
                <td class="cost-of-dish">240 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Суп сирний з куркою</span>Курятина,
                  картопля, морква, цибуля, печериці, сир м’який, зелень
                </td>
                <td class="weight-of-dish">400 г</td>
                <td class="cost-of-dish">200 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Паста карбонара</span>Паста
                  тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </td>
                <td class="weight-of-dish">350 г</td>
                <td class="cost-of-dish">430 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Стейк зі свинини</span>Свиняча
                  вирізка, спеціі, подається з соусом солодкий чилі та овочами
                </td>
                <td class="weight-of-dish">400 г</td>
                <td class="cost-of-dish">500 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish last">
                  <span class="name-of-dish">Горбуша в соусі з білого вина</span
                  >Ніжна горбуша, вершковий соус на основі білого вина
                </td>
                <td class="weight-of-dish">400 г</td>
                <td class="cost-of-dish">400 грн</td>
              </tr>
            </tbody>
          </table>
          <table class="list-of-dishes">
            <caption class="type-of-dish-title">
              Гарніри та закуски
            </caption>
            <tbody>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Запечені овочі</span>Кабачок,
                  перець, помідор, баклажан
                </td>
                <td class="weight-of-dish">200 г</td>
                <td class="cost-of-dish">230 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Картопля фрі</span>Картопля, соус
                  томатний
                </td>
                <td class="weight-of-dish">150 г</td>
                <td class="cost-of-dish">160 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Картопля по-селянськи</span
                  >Картопля, спеції, соус пікантний
                </td>
                <td class="weight-of-dish">150 г</td>
                <td class="cost-of-dish">160 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Хрумкі соління з бочки</span>Огірок
                  солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </td>
                <td class="weight-of-dish">250 г</td>
                <td class="cost-of-dish">350 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish last">
                  <span class="name-of-dish"
                    >Крильця курячі в медовому соусі</span
                  >Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </td>
                <td class="weight-of-dish">400 г</td>
                <td class="cost-of-dish">420 грн</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="salads-and-desets">
          <table class="list-of-dishes">
            <caption class="type-of-dish-title">
              Салати
            </caption>
            <tbody>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Цезар з куркою</span>Куряче філе,
                  листя салату, помідори чері, сир пармезан, грінки, соус цезар
                </td>
                <td class="weight-of-dish">230 г</td>
                <td class="cost-of-dish">450 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Цезар з креветками</span>Тигрові
                  креветки, листя салату, помідори чері, сир пармезан, грінки,
                  соус цезар
                </td>
                <td class="weight-of-dish">230 г</td>
                <td class="cost-of-dish">300 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish">
                  <span class="name-of-dish">Грецький салат</span>Свіжі огірок,
                  помідор, болгарський перець, оливки, сир бринза, листя салату,
                  соус
                </td>
                <td class="weight-of-dish">230 г</td>
                <td class="cost-of-dish">280 грн</td>
              </tr>
              <tr class="dish">
                <td class="descr-of-dish last">
                  <span class="name-of-dish">М’ясний салат</span>Куряче філе або
                  свиняча вирізка, свіжі огірок, помідор, болгарський перець,
                  соус ранч
                </td>
                <td class="weight-of-dish">230 г</td>
                <td class="cost-of-dish">300 грн</td>
              </tr>
            </tbody>
          </table>
          <table class="list-of-dishes">
            <caption class="type-of-dish-title">
              Десерти
            </caption>
            <tbody>
              <tr class="dish">
                <td class="name-of-dish meal">Торт наполеон</td>
                <td class="weight-of-dish">230 г</td>
                <td class="cost-of-dish">300 грн</td>
              </tr>
              <tr class="dish">
                <td class="name-of-dish meal">Торт маковий</td>
                <td class="weight-of-dish">230 г</td>
                <td class="cost-of-dish">300 грн</td>
              </tr>
              <tr class="dish">
                <td class="name-of-dish meal last">Тірамісу</td>
                <td class="weight-of-dish">120 г</td>
                <td class="cost-of-dish">260 грн</td>
              </tr>
            </tbody>
          </table>
          <table class="list-of-dishes last">
            <caption class="type-of-dish-title">
              Напої
            </caption>
            <tbody>
              <tr class="dish">
                <td class="name-of-dish meal">Чай чорний/зелений</td>
                <td class="weight-of-dish">500 мл</td>
                <td class="cost-of-dish">100 грн</td>
              </tr>
              <tr class="dish">
                <td class="name-of-dish meal">Еспресо</td>
                <td class="weight-of-dish">30 мл</td>
                <td class="cost-of-dish">100 грн</td>
              </tr>
              <tr class="dish">
                <td class="name-of-dish meal">Американо</td>
                <td class="weight-of-dish">150 мл</td>
                <td class="cost-of-dish">100 грн</td>
              </tr>
              <tr class="dish">
                <td class="name-of-dish meal">Капучино</td>
                <td class="weight-of-dish">200 мл</td>
                <td class="cost-of-dish">160 грн</td>
              </tr>
              <tr class="dish">
                <td class="name-of-dish meal last">Лате</td>
                <td class="weight-of-dish">200 мл</td>
                <td class="cost-of-dish">160 грн</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button class="rest-menu-btn button" type="button" data-modal-open-table1>
      Забронювати столик
    </button>
  </div>
</section>

<!-----------------------------------Modal-table ----------------------------------->
<div class="backdrop-table is-hidden" data-modal-table1>
  <div class="modal-table">
    <button class="modal-table-btn" data-modal-close-table1>
      <svg class="modal-icon" width="24" height="24">
        <use href="../src/images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="table-order-form" name="order_form">
      <strong class="order-form-appeal">ЗАБРОНЮВАТИ СТОЛИК</strong>
      <div class="table-form-group" role="group">
        <label class="tableorder-form-field">
          <input
            class="tableorder-form-input"
            type="text"
            name="user_name"
            required
            minlength="4"
            pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
            placeholder="Ваше ім’я"
          />
          <span class="order-form-label">На кого забронювати столик?</span>
        </label>

        <label class="tableorder-form-field">
          <select class="tableorder-form-input" name="amount" required size="1">
            <option class="amount-order" value="" selected>2</option>
            <option class="amount-order" value="3">3</option>
            <option class="amount-order" value="4">4</option>
            <option class="amount-order" value="5">5</option>
          </select>
          <span class="order-form-label">Столик на яку кількість осіб?</span>
        </label>

        <label class="tableorder-form-field">
          <input
            class="tableorder-form-input"
            type="tel"
            name="user_phone"
            required
            minlength="6"
            pattern="[+38] [([0-9]{3})] [0-9]{3}-[0-9]{2}-[0-9]{2}"
            placeholder="+38 (___) ___-__-__"
          />
          <span class="order-form-label">Номер телефону</span>
        </label>

        <label class="tableorder-form-field">
          <input
            class="tableorder-form-input"
            type="date"
            value="2023-02-01"
            min="2023-01-01"
            max="2024-01-01"
          />
          <span class="order-form-label">На яку дату бронювати?</span>
        </label>
        <div class="form-table-send">
          <button class="formtable-send-btn" type="submit">
            оформити бронювання
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-----------------------------------Modal-table ----------------------------------->
