<footer class="footer">
  <div class="container footer-wrapper">
    <a href="./index.html" class="footer-logo link">MIMIHO</a>

    <div class="footer-menu-wrapper">
      <ul class="footer-menu list">
        <li class="footer-menu-list">
          <a href="./index.html" class="footer-link link"
            ><span class="footer-menu-title">Головна</span></a
          >
        </li>
        <li class="footer-menu-list">
          <a href="./rest.html" class="footer-link link">
            <span class="footer-menu-title">Ресторан</span></a
          >
        </li>
        <li class="footer-menu-list">
          <a href="./hotel.html" class="footer-link link">
            <span class="footer-menu-title">Готель</span></a
          >
        </li>
      </ul>

      <ul class="footer-social-list list">
        <li class="footer-sm-border">
          <a href="https://web.telegram.org" target="blank" class="link">
            <svg class="footer-icon" width="24" height="24">
              <use href="../src/images/svg/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-sm-border">
          <a href="https://web.telegram.org" target="blank" class="link">
            <svg class="footer-icon" width="24" height="24">
              <use href="../src/images/svg/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-sm-border">
          <a href="https://web.telegram.org" target="blank" class="link">
            <svg class="footer-icon" width="24" height="24">
              <use href="../src/images/svg/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="footer-btn-social list">
        <li class="footer-sm-border">
          <a
            href="https://web.telegram.org"
            target="blank"
            class="footer-link link"
          >
            <span class="footer-social-media">Telegram</span>
            <svg class="footer-icon" width="24" height="24">
              <use href="../src/images/svg/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-sm-border">
          <a
            href="https://www.facebook.com/"
            target="blank"
            class="footer-link link"
          >
            <span class="footer-social-media">Facebook</span>
            <svg class="footer-icon" width="24" height="24">
              <use href="../src/images/svg/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-sm-border">
          <a
            href="https://www.instagram.com/"
            target="blank"
            class="footer-link link"
          >
            <span class="footer-social-media">Instagram</span>
            <svg class="footer-icon" width="24" height="24">
              <use href="../src/images/svg/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
